html, body
{
    font-family: monospace;
    font-size: 13px;
    margin:0;
    padding:0;

}

body{
    background: url("../img/5cm.jpg");
    text-align: center;
    color: black;
}

p{
    margin: 10px 10px 10px;
}

div#header{
    height:100px;
    line-height:100px;/
    margin:0;
    padding: 0;
    background: rgb(38,61,161);
	background: linear-gradient(90deg, rgba(38,61,161,0.8242647400757178) 0%, rgba(171,13,75,1) 78%, rgba(0,212,255,1) 100%);
}

.tombol{
    background:#6db2f6;
    color:white;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration:none;
    font-family:sans-serif;
    font-size:11pt;
    float: left;
}

.tombol:hover
{
    background:white;
    color:darkblue;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration:none;
    font-family:sans-serif;
    font-size:11pt;
    float: left;

}

div#container{
    margin: 10px;
}

div#wrapper{
    margin: 10px auto;
    width: 94%;
    height: 97%;
}

div#leftcolumn {
 color: #333;
 border: 1px solid #ccc;
 background:#F6F0E0;
 margin: 5px;
 padding-top: 10px;
 height: 55em;
 width: 23em;
 float: left;
}

div#leftcolumn h2{
    text-align: center;
}

div#leftcolumn img{
    position: relative;
}

div#rightcolumn {
 float: right;
 color: #333;
 border: 1px solid #ccc;
 background:#cfcdf0;
 margin: 5px 0px 0px 0px;
 padding: 10px;
 height: 25em;
 width: 70em;

}

div#footer {
    padding: 20px;
    height: 5%;
    background-color: azure;
    clear: both;
}
