*
{
  margin: 0%;
  padding: 0%;
}

html
{
  background: url("../img/BestCity.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#header
{
  width: 100%;
  height: 7em;
  background-color: rgb(166,11,11);
  opacity: 0.6;
  background: linear-gradient(90deg, rgba(166,11,11,0.8242647400757178) 8%, rgba(255,0,130,1) 51%, rgba(241,149,29,1) 80%);
}

#header h1
{
  color: white;
  text-align: center;
  padding: 1em;
  opacity: 2;
}

.container
{
    margin: 3% auto auto auto;
    width: 50%;
    text-align: center;
    background-color: #3b3938;
    color: white;
    opacity: 0.8;
}

.container img
{
  min-width: 20%;
  max-width: 100%;
}

.ContRound
{
  overflow: hidden;
  opacity: 0.8;
  float: left;
  font-size: 0.9em;
  margin: 1%;
  padding: 2em;
  width: 15%;
  background-color: #090636;
  color: white;
  text-align: center;
  border-radius: 40%;
  height: 20em;
}

.ContRound img
{
  height: 60%;
}

.ContRound2
{
  overflow: hidden;
  opacity: 0.8;
  float: right;
  font-size: 0.9em;
  margin: 1%;
  padding: 2em;
  width: 15%;
  background-color: #990000;
  color: white;
  text-align: center;
  border-radius: 40%;
  height: 20em;
  line-height: 3em;
}
